body{
    background-color: rgb(255, 156, 189);
    text-align: center;
}
.small_quote{
    margin-left: 34%;
    margin-right: 34%;
}
ol{
    text-align: justify;
    margin-left: 39%;
    margin-left: 39%;
}
.big_quote{
    font-size: x-large;
    margin-left: 43%;
    margin-right: 43%;
}
